/* === CSS for Header component === */

header {
    height: 4em;
    margin-bottom: 1em;
}

header .container {
    display: flex;
    justify-content: center;
    height: 100%;
}

header .logo {
    height: 100%;
    width: 100%;
    display: flex;
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    gap: .5em;
    border-bottom: 1px solid var(--grey);
}

header .logo h1 {
    font-size: 1.25em;
    font-weight: bold;
}

header .logo svg {
    height: 1.25em;
    width: 1.25em;
}

header .logo svg path {
    fill: var(--text-color);
}

@media (min-width: 640px) {
    header {
        height: 5em;
        margin-bottom: 2em;
    }

    header .logo {
        gap: 1em;
    }

    header .logo h1 {
        font-size: 2em;
    }

    header .logo svg {
        height: 2em;
        width: 2em;
    }
}