/* === IMPORTS === */
@import "./assets/styles/variables.css";

/* === GLOBAL === */
body {
  font-size: 1em;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--body);
}

/* === STRUCTURE === */
.container {
  max-width: 820px;
  margin: 0 auto;
  padding: 0 16px;
}

/* === UI === */
.input-field {
  border-radius: .25em;
  border: 1px solid var(--text-color);
  padding: .5em .75em;
  width: 100%;
  color: var(--grey);
}

.input-field.error {
  color: var(--red);
  border-color: var(--red);
}

.input-field:focus {
  background-color: var(--text-color);
  color: var(--bg-color);
}

.input-label-container {
  display: flex;
  gap: .25em;
}

.input-label {
  font-size: .75em;
  font-weight: bold;
  color: var(--grey);
  text-transform: uppercase;
}

.input-label-container svg {
  height: .75em;
  width: .75em;
}

.input-label-container.alert p {
  font-weight: normal;
  color: var(--red);
  text-transform: none;
}