/* Reset import form meyerweb */
@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");

/* Additional resets */
input,
button {
  all: unset;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}