.tasks-list {
    border: 1px solid var(--grey);
    border-radius: .5em;
    height: 500px;
    padding: 0 .5em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
    scrollbar-width: none;
}

.tasks-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: .75em 0;
    border-bottom: 1px solid var(--grey);
}

.tasks-list li:last-of-type {
    border: none;
}

.tasks-list li input[type="checkbox"] {
    height: 1.5em;
    min-width: 1.5em;
    border-radius: .25em;
    background-image: url('../../assets/icons/checkbox-icon.svg');
    background-repeat: none;
    background-size: cover;
    transition: var(--transition);
}

.tasks-list li input[type="checkbox"]:checked {
    background-image: url('../../assets/icons/active-checkbox-icon.svg');
}

.tasks-list li label {
    width: 100%;
    transition: var(--transition);
}

.tasks-list li label.task-done {
    color: var(--grey);
    text-decoration: line-through;
}

@media (min-width: 640px) {
    .tasks-list {
        padding: 0 1em;
    }

    .tasks-list li input[type="checkbox"]:hover {
        cursor: pointer;
    }
}