.tasks-list {
    border: 1px solid var(--grey);
    border-radius: .5em;
    height: 70vh;
    padding: 0 .5em;
    overflow-x: scroll;
    display: flex;
    flex-direction: column;
}

.tasks-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5em;
    padding: .75em 0;
    border-bottom: 1px solid var(--grey);
}

.tasks-list li input[type="checkbox"] {
    height: 1em;
    min-width: 1em;
    border: 1px solid var(--text-color);
    border-radius: .25em;
}

.tasks-list li input[type="checkbox"]:checked {
    background-color: var(--purple);
}

.tasks-list li label {
    width: 100%;
}

/* .tasks-list li {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tasks-list li .input-group {
    display: flex;
    gap: 16px;
}

.tasks-list li .input-group label {
    margin-right: 8px;
    text-align: left;
}

.tasks-list li .input-group label.task-done {
    text-decoration: line-through;
}

.tasks-list .delete-button {
    padding: 4px 12px;
}

.tasks-list .delete-button img {
    height: 24px;
    width: 24px;
} */